.programming-languages {
	margin-top: -5%;	
}


.programming-language {
	display: inline-block;
	margin: 5%;
}

.programming-language .programming-name {
	margin-top: -30%;
}

.programming-language .big-icon {
	font-size: 6em;
}